gestorebollette.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gestorebollette.LogXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipClient"/>
        <xs:element type="xs:string" name="data"/>
        <xs:element type="xs:string" name="ora"/>
        <xs:element type="xs:string" name="evento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>